#logo{
	height:100px;
	width: auto;
	display: block;
	float:left;
}

#opening_hours{
	display: block;
	height: 100px;
	width: auto;
}

.nav{
	list-style-type: none;
}

.nav > li{
	float: left;
	text-align: center;
	padding: 10px;
	display: block;
	text-decoration: none;
}

.clearfix{
	background-color: #ffb7cf;
	border: 5px white solid;
	padding: 20px;
	display: block;
}

.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}

#hero{
	width: 80%;
	display: block;
	align-content: center;
	margin-left: auto;
	margin-right: auto;
}

.img_left{
	background-color: #e582a2;
	float: left;
	width: 62%
}

.article_right{
	background-color: #e55b88;
	float: right;
	width: 30%;
	height: auto;
}

.img_right{
	background-color: #e582a2;
	float: right;
	width: 62%
}

.article_left{
	background-color: #e55b88;
	float: left;
	width: 30%;
}

.gallery_img{
	display:block;
	align-content: center;
	width:47%;
	padding: 10px;
	float: left;
}