@import url('https://fonts.googleapis.com/css?family=Abhaya+Libre|Averia+Serif+Libre:400,700|Julius+Sans+One|Marcellus+SC&display=swap');

body{
	background-color: white;
	font-size:20px;
	font-family: 'Marcellus SC', serif;
}

main{
	margin-bottom: 10em;
}

h2{
	text-align: center;
	font-family: 'Marcellus SC', serif;
	font-weight: bold;
	margin: 10px 0 10px 0;
}

p{
	font-family: 'Abhaya Libre', serif;
}

a{
	display: inline-block;
	text-decoration: none;
	color: black;
}

footer{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: white;
}

.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}

.nav_li{
	font-size: 1.3em;
	text-align: center;
	display: inline;
	text-decoration: none;
	padding: 10px;
}

.img_left{
	float: left;
	width: 40%;
	margin-left: 5%;
	display: block;
}

.article_right{
	float: right;
	width: 40%;
	margin-top: 5em;
	margin-left:5%;
	margin-right: 5%;
	display: block;
}

.img_right{
	float: right;
	width: 40%;
	margin-right: 5%; 
	display: block;
}

.article_left{
	float: left;
	width: 40%;
	margin-top: 5em;
	margin-left:5%;
	margin-right: 5%;
	display: block;
}

#header_brand{
	font-size: 3em;
	text-align: center;
	display: block;
	margin:0;
}

#opening_hours{
	font-family: 'Marcellus SC', serif;
	font-size: .8em;
	display: block;
	margin: 0;
	float:right;
}

#nav_header{
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

#homepage{
	position: relative;
}

#hero{
	width: 38%;
	display: block;
	align-content: center;
	margin-top: 2em;
	margin-bottom: 2em;
	margin-left: auto;
	margin-right: auto;
}

#ourstory{
	margin-top: 2em;
}

#ourfood{
	margin-top: 2em;
}

#menu{
	list-style-type: none;
	font-family: 'Abhaya Libre', serif;
}

#contact{
	margin-top: 2em;
}

#contact_details{
	margin-top:	3.5em;
}

#call_footer{
	font-size: 1.5em;
	text-align: center;
    margin: 0;
}

#address{
	font-size: 1em;
	text-align: center;
	margin: 0;
}

#copyright{
	font-size: .7em;
	text-align: center;
	margin: 0;
}

#nav_footer{
	display: block;
	float: right;
	list-style-type: none;
	margin:0;
}

@media only screen and (max-width: 1410px){
	#hero{
		width: 45%;
	}
}

@media only screen and (max-width: 1220px){
	#hero{
		width: 50%;
	}
}

@media only screen and (max-width: 1100px){
	#hero{
		width: 55%;
	}
	.article_left, .article_right{
		margin-top: 3em;
	}
}

@media only screen and (max-width: 1020px){
	body{
		font-size: 18px;
	}
	#hero{
		width: 60%;
		margin-top: 3em;
		margin-bottom: 4em;
	}
	.article_right{
		width: 45%;
		margin-left: 0;
	}
	.article_left{
		width: 45%;
		margin-right: 0;
	}
}

@media only screen and (max-width: 900px){
	.nav_li{
		font-size: 1.5em;
	}
	.article_right, .article_left{
		float: none;
		width: 70%;
		margin: 3em auto;
	}
	.image_left, .image_right{
		float: none;
		width: 45%;
		margin: 3em auto;
	}
	#hero{
		width: 65%;
	}
	#map{
		width: 80%;
		margin:3em auto;
	}

}