@import url('https://fonts.googleapis.com/css?family=Abhaya+Libre|Averia+Serif+Libre:400,700|Julius+Sans+One|Marcellus+SC&display=swap');

body{
	background-color: #FFB30D;
	font-size:18px;
	font-family: 'Abhaya Libre', serif;
}

header{
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #FFB30D;
}

main{
	margin-top: 60px;
	margin-bottom: 50px;
}

h2{
	text-align: center;
	font-family: 'Marcellus SC', serif;
	font-weight: bold;
	margin: 0;
}

a{
	display: inline-block;
	text-decoration: none;
	color: black;
}

footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #FFB30D;
}

/*.clearfix{
	display: block;
}*/

.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}

.nav_li{
	font-size: 1.3em;
	text-align: center;
	display: inline;
	text-decoration: none;
	padding: 10px;
}

.img_left{
	float: left;
	width: 50%;
	display: block;
}

.article_right{
	float: right;
	width: 50%;
	display: block;
}

.img_right{
	float: right;
	width: 50%;
	display: block;
}

.article_left{
	float: left;
	width: 50%;
	display: block;
}

#header_brand{
	font-size: 1.5em;
	display: block;
	float:left;
	margin:0;
}

#opening_hours{
	font-size: .8em;
	display: block;
	margin: 0;
	float:right;
}

#nav_header{
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

#call{
	text-align: center;
	font-family: 'Marcellus SC', serif;
	font-size: 1.5em;
	background-color: rgb(179, 179, 179, .7);
	margin: 0;
}

#homepage{
	position: relative;
}

#hero{
	width: 64%;
	display: block;
	align-content: center;
	margin-left: auto;
	margin-right: auto;
}

#brand{
	font-family: 'Marcellus SC', serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2.5em;
	position: absolute;
	right: 15%;
	top: 75%;
	padding: 10px;
	background-color: rgba(179, 179, 179, .7);
}

#menu{
	list-style-type: none;
}

#call_footer{
	font-size: 1.5em;
	text-align: center;
	margin: 0;
}

#address{
	font-size: 1em;
	text-align: center;
	margin: 0;
}

#copyright{
	font-size: .7em;
	text-align: center;
	margin: 0;
}

#nav_footer{
	display: block;
	float: right;
	list-style-type: none;
	margin:0;
}
