@import url('https://fonts.googleapis.com/css?family=Abhaya+Libre|Averia+Serif+Libre:400,700|Julius+Sans+One|Marcellus+SC&display=swap');

body{
	background-color: white;
	font-size:18px;
	font-family: 'Marcellus SC', serif;
}

main{
	margin-bottom: 50px;
}

h2{
	text-align: center;
	font-family: 'Marcellus SC', serif;
	font-weight: bold;
	margin: 10px 0 10px 0;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	background-color: #FFB30D;
}

p{
	font-family: 'Abhaya Libre', serif;
}

a{
	display: inline-block;
	text-decoration: none;
	color: black;
}

footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #FFB30D;
}

/*.clearfix{
	display: block;
}*/

.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}

.nav_li{
	font-size: 1.3em;
	text-align: center;
	display: inline;
	text-decoration: none;
	padding: 10px;
}

.img_left{
	float: left;
	width: 50%;
	display: block;
}

.article_right{
	float: right;
	width: 50%;
	display: block;
}

.img_right{
	float: right;
	width: 50%;
	display: block;
}

.article_left{
	float: left;
	width: 50%;
	display: block;
}

#header_brand{
	font-size: 1.5em;
	display: block;
	float:left;
	margin:0;
}

#opening_hours{
	font-family: 'Marcellus SC', serif;
	font-size: .8em;
	display: block;
	margin: 0;
	float:right;
}

#nav_header{
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	background-color: #FFB30D;
}

#call{
	text-align: center;
	font-family: 'Marcellus SC', serif;
	font-size: 1.5em;
	background-color: #FFB30D;
	border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 10px 0 10px 0;
}

#homepage{
	position: relative;
}

#hero{
	width: 64%;
	display: block;
	align-content: center;
	margin-left: auto;
	margin-right: auto;
}

#brand{
	font-family: 'Marcellus SC', serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2.5em;
	position: absolute;
	right: 10%;
	top: 70%;
	padding: 10px;
	background-color: rgba(179, 179, 179, .7);
}

#menu{
	list-style-type: none;
	font-family: 'Abhaya Libre', serif;
}

#call_footer{
	font-size: 1.5em;
	text-align: center;
	margin: 0;
}

#address{
	font-size: 1em;
	text-align: center;
	margin: 0;
}

#copyright{
	font-size: .7em;
	text-align: center;
	margin: 0;
}

#nav_footer{
	display: block;
	float: right;
	list-style-type: none;
	margin:0;
}

@media only screen and (max-width: 1515px) {
	body{
		font-size: 16px;
	}
	#hero{
		width: 75%;
	}
	#brand{
		right: 5%
		top:60%;
	}
}

@media only screen and (max-width: 1350px){
	#opening_hours{
		font-size: 1.1em;
	}
	#hero{
		width: 80%
	}
	.nav_li{
		font-size: 1.7em;
	}
	#call_footer{
		font-size:1.7em;
	}
	#address{
		font-size: 1.3em;
	}
	#copyright{
		font-size: 1em;
	}
}

@media only screen and (max-width: 1220px){
	.nav_li{
		padding: 15px;
	}
	#header_brand{
		font-size: 2em;
	}
	#hero{
		width: 95%;
	}
	#brand{
		right: 10%
		top:60%;
	}
}

@media only screen and (max-width: 1030px){
	main{
		margin-bottom: 100px;
	}

	#header_brand{
		font-size: 1.5em;
	}

	#opening_hours{
		font-size: .8em;
	}

	#nav_header{
		margin: 10px 0 10px 0;
	}
	.nav_li{
		font-size: 2em;
		padding: 15px;
	}

	.img_left{
	float: none;
	width: 100%;
	}

	.article_right{
	float: none;
	width: 60%;
	margin-right: 20%; 
	margin-left:20%;
	}

	.img_right{
	float: none;
	width: 100%;
	}

	.article_left{
	float: none;
	width: 60%;
	margin-right: 20%; 
	margin-left:20%;
	}
	
	#hero{
		width: 100%;
	}
	#brand{
		position: static;
		width: 100%
		margin-top:0;
		text-align: center;
		margin: 10px 0 10px 0;
    	border-top: 1px black solid;
    	border-bottom: 1px black solid;
    	background-color: #FFB30D;
	}
	#call{
		font-size: 2.2em;
		border-top: 1px black solid;
    	border-bottom: 1px black solid;
	}
}

@media only screen and (max-width: 724px){
	body{
		font-size: 14px;
	}
}