@import url('https://fonts.googleapis.com/css?family=Abhaya+Libre|Averia+Serif+Libre:400,700|Julius+Sans+One|Marcellus+SC&display=swap');

body{
	background-color: #FFF;
	color: #5B5863;
	text-align: center;
	font-size: 18px;
	line-height: 1.5em;
}



h1{
	font-family: 'Marcellus SC', serif;
	text-transform: uppercase;
	font-style: bold;
}

h2{
	font-family: 'Marcellus SC', serif;
	font-weight: bold;
	margin-bottom: 5px;
}

h3{

}

img{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	height: auto;
  	width: 50%;
  	padding-top: 15px;
  	padding-bottom: 15px;
}

p{
	font-family: 'Abhaya Libre', serif;
	padding: 15px;
}

ul{
	list-style-type: none;
	font-family: 'Abhaya Libre', serif;
}

li{
	display: inline;
	font-family: "Abhaya Libre", serif;
	font-size: 18px;
}

#logo{
	display: inline;
	height: 75px;
	width: auto;
}

#hero{	
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	height: auto;
  	width: 75%;
  	padding-top: 15px;
  	padding-bottom: 15px;
}

#slogan{
	font-family: 'Abhaya Libre', serif;
}

#contact{
	font-weight: 900;
	font-family: 'Marcellus SC', serif;
}

header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5em;
}

nav{
	background-color: #E8C66A;
}

section{
	background-color: #FFE2B8;
}

footer{
	background-color: #FF957E
}