body{
	background-color: #FFF;
	color: #5B5863;
	font-family: Helvetica;
}

h1{
	text-align: center;
}

#slogan{
	text-align: center;
	font-style: italic;
}
img{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	height: 400px;
  	width: 50%;
}
ul{
	text-align: center;
	list-style-type: none;
}
