@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Open+Sans&display=swap');

body{
	background-color: #FFF;
	color: #5B5863;
}

h1{
	font-family: 'Julius Sans One', sans-serif;
	text-align: center;
	text-transform: uppercase;
	font-style: bold;
}

h2{
	font-family: 'Julius Sans One', sans-serif;
}

img{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	height: 400px;
  	width: 50%;
  	padding-top: 25px;
  	padding-bottom: 25px;
}

p{
	font-family: 'Open Sans', sans-serif;
}

ul{
	text-align: center;
	list-style-type: none;
	font-family: 'Open Sans', sans-serif;
}

#slogan{
	text-align: center;
	font-style: italic;
	font-family: 'Julius Sans One', sans-serif;
}

#contact{
	text-align: center;
	font-style: bold;
	font-family: 'Julius Sans One', sans-serif;
}